{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'custom.css' %}">

<form class="fund_form" action="" method="POST">
    {% csrf_token %}
<input type="text" value="{{a.cname}}" name="name"><br>
<label for="">Amount</label><br>
<input type="text" name="amount" required>
<div class="description">
    <p>use the wallet address to make a deposit: <input type="text" disabled value="{{a.caddress}}"></p>
</div>
<input class="fsubmit" type="submit" value="Confirm deposit">
</form>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    {% if messages %}
    {% for message in messages %}
    swal({
  title: "Good job!",
  text: "{{message}}!",
  icon: "{% if message.tags == "success" %}success{% elif message.tags == "error" %}error{% else %}info{% endif %}",
  button: "ok",
});
    {% endfor %}
    {% endif %}
</script>

{% endblock %}